clusters/production/cloudflared-tunnel/cloudflared-token-secret.yaml
clusters/production/vaultwarden/secret.yaml
clusters/production/rustfs/secret.yaml
clusters/production/cert-manager/secret.yaml
clusters/production/frigate/secret.yaml
